/*----------------------------------------Main Fonts & Color----------------------------------------------
  Color
    h1= Major
    h2= Poppins Bold
    p1= Poppins reg
    dark purple = #452f9f

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
*/

/*----------------------------------------USDA Fonts & Color--------------
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.khula-light {
  font-family: "Khula", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.khula-regular {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.khula-semibold {
  font-family: "Khula", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.khula-bold {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.khula-extrabold {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  font-style: normal;
}


------------------*/
* {
  box-sizing: border-box;
}


/*----------------------------------------Body----------------------------------------------*/ 
.flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  width: 900px;
  margin: auto;
  margin-left: 32%;
  height: 100%;
  padding: 40px;
  margin-bottom: 24px;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
  background-color: #fafafa;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #452f9f;
  font-size: 2em;
  text-align: left;
  line-height: 40px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #464646;
  font-size: 18px;
  text-align: left;
  line-height: 20px;
}

.logoImg {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  padding: 16px;
  }

.portrait img{
  width: 80px;
}


.aboutme {
  width 360px;
  background-color: white;
  opacity: 95%;
  border: #464646;
  margin-top: 130px;
  border-radius: 16px;
}

.heyyall {
  width: 600px;
  margin: auto;
  padding: 40px 24px;
}

.introductionSplash h2 {
  font-size: 24px;
  line-height: 24px;
  color: #452f9f;
  margin-left: 16px;
  padding-left: 16px;
}

.introductioSplash h3 {
  text-align: left;
}

.introductionSplash a {
  padding: 6px 8px 6px 0px;
  font-family: "Poppins";
  text-decoration: none;
  font-size: normal;
  color: #818181;
  display: block;
}

.introduction h2{
  font-size: 24px;
  line-height: 24px;
  color: #fafafa;
  margin-left: 16px;
  padding-left: 16px;
}

.introduction a {
  padding: 6px 8px 6px 0px;
  font-family: "Poppins";
  text-decoration: none;
  font-size: normal;
  color: #818181;
  display: block;
}

#gallery {
  margin: auto;
}

/*----------------------------------------Content Accordion----------------------------------------------*/ 


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  
}

.caseInfo {
    margin-top: 108px;
}


#radiusTop {
      border-radius: 8px 8px 0px 0px;
}

#radiusBottom {
    border-radius: 0px 0px 8px 8px;
} 
    
.active, .accordion:hover {
    background-color: #ccc;
}
    
    
.panel {
    width: 100%;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
      
}
    
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.titleHeader {
  height: 150px; /* Full-height: remove this if you want "auto" height */
  width: 100%;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.titleHeader h2 {
  color: #452f9f;
}

.headerUSDA {
  height: 300px;
  background-image: url(/img/caseStudies/usdaRedesign/designSystem/mockups/view-computer-monitor-display-with-desk.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 24px;
  
  
}

.textusda h3 {
  font-family: "Abril Fatface", serif;
  text-align: ;

}

.textusda p {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.usdaPanel h3 {
  font-family: "Abril Fatface", serif;
  text-align: left;
}

.usdaPanel p {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#usdaOverview {
  margin: 24px 0px;
  background-color: white;
  padding: 16px;

}

#usdaP1 {
  margin: 8px;
  padding: 16px;
}

.iaImgs img {
  width: 100%;
}

.iconGrid img {
  max-width: 50px;
  max-height: 50px;
  float: left;
  padding: 8px;
}

/*----------------------------------------Side Bar----------------------------------------------*/

.navAccordion {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  
  }

.featuredMenu h4{
  padding-left: 10px;
  }

.active, .navAccordion:hover {
  border-bottom: 0.1px solid rgba(70, 47, 159);
    
  }
    
    
.navPanel {
  width: 100%;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 10px 10px insert;
  border-bottom: 0.3px solid rgba(70, 47, 159, 0.119);
  }

.navAccordion:after {
  content: none;
  }
    
.active, .navAccordion:hover {
  color: #452f9f;
  }
    
.sidenav li {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  }
    
.navPanel {
  background-color: #fafafa;
  border-bottom: 0.3px solid rgba(70, 47, 159, 0.119);
  border-top: 0.3px solid rgba(70, 47, 159, 0.119);
  box-shadow: #464646; 
  }
    
.navPanel a {
  color: #464646;
   
  }
    
.navPanel a:hover {
  color: #452f9f;
  }


.sidenav {
  background-color: #fafafa;
  height: 100%; 
  width: 232px;
  overflow-x: hidden;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  border-right: solid 1px hwb(252 18% 38% / 0.1)
}

.sidenav h4{
  color: #818181;
  text-align: left;
}

.topLinks {
  padding: 16px;
}


.socialMedia {
  width: 100%;
  display: flex;
  padding: 0px 6px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.socialMedia img {
  width: 60px;
  padding: 16px;
  
}

.navLinks {
 width: 100%;
}

.sidenav h4:hover {
  color: #452f9f;
}

.sidenav a:hover {
  color: #452f9f;
}
/*----------------Gallery----------------------*/


div.gallery {
  border: 1px solid rgb(69, 47, 159, 0.2);
  box-shadow: rgb(69, 47, 159, 0.2);
  float: left;
  width: 100%;
  height: auto;
  margin: 24px 0px;
  border-radius: 8px;
}

div.gallery:hover {
  border: 1px solid rgb(69, 47, 159, 0.5);
}

div.gallery img {
  width: 60%;
  height: auto;
  border-radius: 8px 0px 0px 8px;
  float: left;
  margin-right: 24px;
}

div.desc {
  padding: 15px;
  text-align: left;
}

/*-----------------------Helloo interactions------------------------------*/

.peach:hover{
  color: #f2c52f;
}

.peach2:hover{
  color: #f29400;
}

.peach3:hover{
  color: #e6690f;;
}

.purpleish:hover{
  color: #cb5241;
}

.purple:hover{
  color: #924c71;
}

.darkpurple:hover {
  color: #452f9f;
}

/*-------------------------DropDown Nav------------------------*/
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #452f9f;
  padding: 16px;
  font-size: 24px;
  border: none;
}

.navDropdown {
  margin-left: 24px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*----------------------------------------Media----------------------------------------------*/
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
